#header-video {
  position: absolute;
  width: 100%;
  z-index: -1;
  margin: 0 auto;
}

.inner {
  background: rgba(0, 0, 0, 0.65);
  color: #f1f1f1;
  width: 30%;
  min-width: 300px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 30px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

i {
  font-size: 100px;
  border-radius: 10px;
  border: solid 1px rgba(250, 250, 250, 0.15);
  padding: 20px;
  margin: 10px;
  background: rgba(250, 250, 250, 0.90);
}

.major-icons {
  margin: 0 auto;
  
  border-radius: 10px;
  padding: 40px 0px 40px 0px;

  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#projects video {
  max-width: 100%;
  max-height: 100%;
  border: solid 1px rgba(175, 175, 175, 0.7);
}

.typewriter {
  overflow: hidden;
  /* border-right: .15em solid orange; */
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .10em;
  animation:
    typing 4.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: orange;
  }
}
