video {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.fab {
  font-size: 70px;
  border-radius: 4px;
  border: solid 1px white;
  transform: rotate(45deg);
  padding: 35px;
  color: blue;
}

#footer li a{
  border: 1px solid white;
  border-radius: 100%;
  margin: 5px;
  padding: 13px 10px 7px 10px;
  width: 30px;
  height: 30px;
}

.inner {
  /* position: fixed; */
  /* bottom: 0; */
  background: rgba(0, 0, 0, 0.65);
  color: #f1f1f1;
  width: 30%;
  padding: 20px;
  /* justify-self: center; */
  margin: 0 auto;
}